<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Amonestacion</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/carta.css}">
    

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="~{/fragments/menu :: menu-izquierda}"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="~{/fragments/menu :: menu-derecha}"></div>
    </header>

    <div th:insert="~{/fragments/menu :: menu-barra}" class="sidebar" id="sidebar"></div>

    <main id="main">
        <div class="container">
            <h2>Descripción detallada de la Amonestación</h2>
            <div class="card-container">
                
                <div class="header">
                    
                    <a href="#">
                        <img th:src="@{/logos/{img}(img=${amonestacion.socio.foto})}" alt="Foto del socio">
                    </a>
                    <h2 th:text="${amonestacion.socio.nombre}"></h2>
                    <h2 th:text="${amonestacion.socio.apellido}"></h2>
                    <h4 th:text="${amonestacion.socio.idUsuario}"></h4>
                </div>
                <div class="descripcion">
                    <p>fecha de Amonestacion: <span th:text="${amonestacion.fecha != null ? amonestacion.fecha.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : '-'}">12-12-2020</span></p>
                    <p>fecha de habilitacion: <span th:text="${amonestacion.fechaReingreso != null ? amonestacion.fechaReingreso.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : '-'}"></span>
                    <span th:unless="${amonestacion.fechaReingreso != null}">-</span></p>
                    <p>Nivel: <span th:text="${amonestacion.nivel}"></span></p>
                    <p th:utext="${amonestacion.descripcion}"></p>
                </div>
            </div>
        </div>
        
    </main>
    
    <script th:src="@{/js/scrip3.js}"></script> 
</body>
</html>