<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/styleSocio.css}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="/fragments/menu :: menu-izquierda"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="/fragments/menu :: menu-derecha"></div>
    </header>

    <div th:insert="/fragments/menu :: menu-barra" class="sidebar" id="sidebar"></div>

    <main id="main">
        
        <h2>Registrar Amonestación</h2>

        <form th:action="@{/amonestaciones/save}" method="post">
            <label for="idUsuario">ID del Socio:</label>
            <input type="text" id="idUsuario" name="idUsuario" placeholder="Ej: spdm_scp_12" required />
            <br><br>

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required />
            <br><br>

            <label for="nivel">Nivel de Amonestación:</label>
            <select id="nivel" name="nivel" required>
                <option value="">Seleccione</option>
                <option value="Primer tiempo">Primer Tiempo</option>
                <option value="Segundo tiempo">Segundo Tiempo</option>
                <option value="Tercer tiempo">Tercer Tiempo</option>
                <option value="Cuarto tiempo">Cuarto Tiempo</option>
            </select>
            <br><br>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
            <br><br>

            <label for="fechaReingreso">Fecha de Reingreso (si aplica):</label>
            <input type="date" id="fechaReingreso" name="fechaReingreso" />
            <br><br>

            <button type="submit">Guardar Amonestación</button>
        </form>

    </main>
    
    <script th:src="@{/js/scrip3.js}"></script> 
    <script th:src="@{/js/registro-aportes.js}"></script>

</body>
</html>