<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/styleSocio.css}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="/fragments/menu :: menu-izquierda"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="/fragments/menu :: menu-derecha"></div>
    </header>

    <div th:insert="/fragments/menu :: menu-barra" class="sidebar" id="sidebar"></div>

    <main id="main">
        
            <h2>Lista de Amonestaciones</h2>

    <form method="get" th:action="@{/amonestaciones/listar}">
        <label for="idUsuario">ID Socio:</label>
        <input type="text" id="idUsuario" name="idUsuario" placeholder="Ej: spdm_scp_1">

        <label for="sectorId">Sector:</label>
        <select id="sectorSelect" name="sectorId">
            <option value="">Todos</option>
            <option th:each="sector : ${sectores}" th:value="${sector.id}" th:text="${sector.nombre}"></option>
        </select>

        <label for="grupoId">Grupo:</label>
        <select id="grupoSelect" name="grupoId">
            <option value="">Todos</option>
        </select>

        <button type="submit">Buscar</button>
    </form>

    <br>

    <table border="1" th:if="${amonestaciones != null and !amonestaciones.isEmpty()}">
        <thead>
            <tr>
                <th>ID Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Grupo</th>
                <th>Nivel</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Fecha Reingreso</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="a : ${amonestaciones}">
                <td th:text="${a.socio.idUsuario}">spdm_scp_1</td>
                <td th:text="${a.socio.nombre}">Nombre</td>
                <td th:text="${a.socio.apellido}">Apellido</td>
                <td th:text="${a.socio.grupo.nombre}">Grupo</td>
                <td th:text="${a.nivel}">Nivel</td>
                <td th:text="${a.fecha}"></td>
                <td th:text="${a.descripcion}">Motivo</td>
                <td th:text="${a.fechaReingreso != null ? #dates.format(a.fechaReingreso, 'dd/MM/yyyy') : '-'}">--</td>
            </tr>
        </tbody>
    </table>

    <p th:if="${amonestaciones == null or amonestaciones.isEmpty()}">No se encontraron amonestaciones.</p>

    </main>
    
    <script th:src="@{/js/scrip3.js}"></script> 
    <script th:src="@{/js/registro-aportes.js}"></script>

</body>
</html>