<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Lista Amonestacion</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/styleVerMesaDir.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.css" integrity="sha512-GmZYQ9SKTnOea030Tbiat0Y+jhnYLIpsGAe6QTnToi8hI2nNbVMETHeK4wm4MuYMQdrc38x+sX77+kVD01eNsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="~{/fragments/menu :: menu-izquierda}"></div> 
        <!-- Inserta el fragmento derecha -->
        <div th:insert="~{/fragments/menu :: menu-derecha}"></div>
    </header>

    <div th:insert="~{/fragments/menu :: menu-barra}" class="sidebar" id="sidebar"></div>

    <main id="main">
        
      <div class="container">
        <header>Mesa Directiva</header>

        <div >
            <form method="get" th:action="@{/amonestaciones/listar}">
            <input type="hidden"/>
            <div class="arribaTabla">
                <div class="details personal">
 
                    <div class="fields1">
                        <div class="input-field">
                            <label for="idUsuario">ID Socio:</label>
                            <input type="text" id="idUsuario" name="idUsuario" placeholder="Ej: spdm_scp_1">
                        </div>

                        <div class="input-field">
                            <label for="grupoId">Sector:</label>
                            <select id="sectorSelect" name="sectorId">
                                <option value="">Todos</option>
                                <option th:each="sector : ${sectores}" 
                                        th:value="${sector.id}" 
                                        th:text="${sector.nombre}" 
                                        th:selected="${param.sectorId == sector.id}"></option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label for="grupoId">Grupo:</label>
                            <select id="grupoSelect" name="grupoId">
                                <option value="">Todos</option>
                                <option th:each="grupo : ${grupoPorSector}" 
                                        th:value="${grupo.id}" 
                                        th:text="${grupo.nombre}" 
                                        th:selected="${param.grupoId == grupo.id}"></option>
                            </select>
                        </div>
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Buscar</span>
                    </button>
                </div>
            </div>
        </form>
        </div>
        
        
        <div class="table">
            <div class="table_section">
                <table th:if="${amonestaciones != null and !amonestaciones.isEmpty()}">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Grupo</th>
                            <th>Nivel</th>
                            <th>Fecha</th>
                            <th>Descripción</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr th:each="a : ${amonestaciones}">
                            <td th:text="${a.socio.idUsuario}">spdm_scp_1</td>
                            <td th:text="${a.socio.nombre}">Nombre</td>
                            <td th:text="${a.socio.apellido}">Apellido</td>
                            <td th:text="${a.socio.grupo.nombre}">Grupo</td>
                            <td th:text="${a.nivel}">Nivel</td>
                            <td th:text="${a.fecha}"></td>
                            <td>
                                <a th:href="@{/amonestaciones/detalle/{id}(id=${a.id})}" class="btn btn-info">Ver</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

      </div>

    </main>
    
    <script th:src="@{/js/scrip3.js}"></script> 
    <script th:src="@{/js/amonestacionList.js}"></script>

</body>
</html>