<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Socio</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/styleSocio.css}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="~{/fragments/menu :: menu-izquierda}"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="~{/fragments/menu :: menu-derecha}"></div>
    </header>

    <div th:insert="~{/fragments/menu :: menu-barra}" class="sidebar" id="sidebar"></div>

    <main id="main">
      <div class="container">
        <header>Registro Socio</header>

        <form th:action="@{/usuarios/save}" method="post" th:object="${usuario}" enctype="multipart/form-data"> 

            <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
                Por favor corrija los siguientes errores:
                <ul>
                  <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                </ul>
            </div>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>

            <div class="form first">
                <div class="details personal"> 
                    <span class="title">Datos del Socio</span>
                    <div class="fields">
                        <div class="input-field">
                            <label for="">Nombre(s):</label>
                            <input type="hidden" th:field="*{id}"></input>
                            <input type="hidden" th:field="*{foto}"></input>
                            <input type="text" th:field="*{nombre}" id="nombre" name="nombre" placeholder="nombre completo" required>
                        </div>

                        <div class="input-field">
                            <label for="">Apellido(s):</label>
                            <input type="text" th:field="*{apellido}" id="apellido" name="apellido" placeholder="Apellidos" required>
                        </div>

                        <div class="input-field">
                            <label for="">Numero de Carnet:</label>
                            <input type="text" th:field="*{carnet}" id="carnet" name="carnet" placeholder="numero de Carnet" required>
                        </div>

                        <div class="input-field">
                            <label for="">Fecha de Nacimiento</label>
                            <input type="date" th:field="*{fecha_nacimiento}" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Ingresa la fecha de nacimiento" required>
                        </div>
                        
                        <div class="input-field">
                            <label for="">Domicilio:</label>
                            <input type="text" th:field="*{ubicacion}" id="ubicacion" name="ubicacion" placeholder="Ubicacion del domicilio" required>
                        </div>

                        <div class="input-field">
                            <label for="">N° de Celular</label>
                            <input type="number" th:field="*{celular}" id="celular" name="celular" placeholder="Número de celular" required>
                        </div>

                        <div class="input-field">
                            <label for="">Genero</label>
                            <div class="radio">
                                <label>Hombre
                                    <input type="radio" th:field="*{genero}" name="genero" id="genero" value="M" /> 
                                  </label>
                                  <label>Mujer
                                    <input type="radio" th:field="*{genero}" name="genero" id="genero" value="F" /> 
                                  </label>
                            </div>
                        </div>

                        <div class="input-field">
                            <label for="estadoCivil">Estado Civil</label>
                            <select id="estadoCivil" th:field="*{estado_civil}" required>
                                <option value="" disabled th:selected="*{estado_civil} == null">Selecciona una opción</option>
                                <option value="soltero" th:selected="*{estado_civil} == 'soltero'">Soltero</option>
                                <option value="casado" th:selected="*{estado_civil} == 'casado'">Casado</option>
                                <option value="viudo" th:selected="*{estado_civil} == 'viudo'">Viudo</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label for="">Fecha de Ingreso</label>
                            <input type="date" th:field="*{fecha_ingreso}" id="fecha_ingreso" name="fecha_ingreso" placeholder="registra la fecha de ingreso" required>
                        </div>

                        <div class="input-field">
                            <label>Estado</label>
                            <select id="estado" th:field="*{estado}" name="estado" required>
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="habilitado">habilitado</option>
                                <option value="deshabilitado">deshabilitado</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label for="sectorSelect">Sector</label>
                            <select id="sectorSelect" name="id_sector" th:field="*{grupo.sector.id}" required>
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option th:each="sector : ${sectores}" th:value="${sector.id}" th:text="${sector.nombre}"></option>
                            </select>
                        </div>
 
                        <div class="input-field">
                            <label for="grupoSelect">Grupo</label>
                            <select id="grupoSelect" th:field="*{grupo.id}" required>
                                <option th:each="grupo : ${grupoPorSector}" 
                                th:value="${grupo.id}" 
                                th:text="${grupo.nombre}"
                                th:selected="${grupo.id == grupoUsuario.id}"></option>
                            </select>
                        </div>

                        <div class="input-field">
                            <img class="imgFile" th:src="@{/logos/{img} (img=${usuario.foto})}" id="imgFile" src="" >
                            <input type="file" name="archivoImagen" id="archivoImagen" class="inputFile" accept="image/*">
                        </div>

                        <div class="input-field">
                            <label>Perfiles:</label>
                            <div th:each="perfil : ${perfiles}">
                                <input type="checkbox" th:id="'perfil-' + ${perfil.id}" 
                                    th:name="perfiles" 
                                    th:value="${perfil.id}" 
                                    th:checked="${#lists.contains(usuario.perfiles, perfil)}"/>
                                <label th:for="'perfil-' + ${perfil.id}" th:text="${perfil.perfil}"></label>
                            </div>
                        </div>
                    </div>
                    

                    <button class="nextBtn">
                        <span class="btnText">Guardar</span>
                    </button>
                </div>
            </div>
        </form>
      </div>
         
    </main>
    
    <script th:src="@{/js/scrip3.js}"></script> 
    <script th:src="@{/js/script4.js}"></script>
</body>
</html>

