<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/style8.css}">
    <link rel="stylesheet" th:href="@{/css/styleListSocio.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.css" integrity="sha512-GmZYQ9SKTnOea030Tbiat0Y+jhnYLIpsGAe6QTnToi8hI2nNbVMETHeK4wm4MuYMQdrc38x+sX77+kVD01eNsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="/fragments/menu :: menu-izquierda"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="/fragments/menu :: menu-derecha"></div>
    </header>

    <div th:insert="/fragments/menu :: menu-barra" class="sidebar" id="sidebar"></div>

    <main id="main">
      <div class="container">
        <header>Lista de los socios</header> 

        <form th:action="@{/usuarios/buscar}" method="get">
            <div class="form first">
                <div class="details personal">
                    <div class="fields">
                        <div class="input-field">
                            <label for="">ID</label>
                            <input  type="text" name="idUsuario" placeholder="Código ID">
                        </div>

                        <div class="input-field">
                            <label for="sectorSelect">Sector</label>
                            <select id="sectorSelect" name="idSector">
                                <option value="" disabled selected>Selecciona un Sector</option>
                                <option th:each="sector : ${sectores}" 
                                        th:value="${sector.id}" 
                                        th:text="${sector.nombre}"></option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label for="grupoSelect">Grupo</label>
                            <select id="grupoSelect" name="idGrupo">
                                <option value="" disabled selected>Selecciona un Grupo</option>
                                <option th:each="grupo : ${grupoPorSector}" 
                                        th:value="${grupo.id}" 
                                        th:text="${grupo.nombre}"></option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="estado">Estado</label>
                            <select name="estado" id="estado">
                                <option value="">Todos</option>
                                <option value="habilitado">Habilitado</option>
                                <option value="deshabilitado">Deshabilitado</option>
                            </select>
                        </div>
                    </div>

                    <div class="btn">
                        <button class="btnBuscar" type="submit">
                            <span class="btnText">Buscar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div th:if="${msg != null}" th:text="${msg}" role='alert'></div>
            <div class="table">
                <div class="table_section">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Foto</th>
                                <th>Nombre y Apellido</th>
                                <th>Grupo</th>
                                <th>Estado</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="usuario : ${usuarios}">
                                <td th:text="${usuario.idUsuario}" class="tdId"></td>
                                <td><img th:src="@{/logos/{img} (img=${usuario.foto})}" alt=""></td>
                                <td th:text="${usuario.nombre + ' ' + usuario.apellido}"></td>
                                <td th:text="${usuario.grupo.nombre}">
                                <td>
                                    <p th:text="${usuario.estado}" th:if="${usuario.estado == 'habilitado'}" class="p-bueno">Activado</p>
                                    <p th:text="${usuario.estado}" th:unless="${usuario.estado == 'habilitado'}" class="p-malo">Deshabilitado</p>
                                </td>
                                <td>
                                    <a th:href="@{/usuarios/view/{id} (id=${usuario.id})}">
                                        <button type="button" class="btnSocio"><i class="fa-solid fa-eye"></i></button>
                                    </a>
                                    <a th:href="@{/usuarios/edit/{id}(id=${usuario.id})}">
                                        <button class="btnSocio"><i class="fa-solid fa-pen-to-square"></i></button>
                                    </a>
                                    <a th:href="@{/usuarios/desactivar/{id}(id=${usuario.id})}" th:if="${usuario.estado == 'habilitado'}" onclick="return confirm('¿Seguro que quieres deshabilitar este usuario?');">
                                        <button type="button" class="btnSocio btn-rojo"><i class="fa-solid fa-ban"></i></button>
                                    </a>
                                    <a th:href="@{/usuarios/activar/{id}(id=${usuario.id})}" th:if="${usuario.estado == 'deshabilitado'}" onclick="return confirm('¿Seguro que quieres Habilitar este usuario?');">
                                        <button type="button" class="btnSocio btn-verde"><i class="fa-regular fa-circle-check"></i></i></button>
                                    </a>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div class="pagination1">
                        <nav th:if="${usuarios instanceof T(org.springframework.data.domain.Page)} and ${usuarios.totalPages > 0}">
                            <ul class="pagination">

                                <!-- Primera página -->
                                <li class="pagination-item" th:classappend="${usuarios.first} ? 'disabled'">
                                    <a th:href="@{/usuarios/indexPaginate(page=0)}">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>

                                <!-- Página anterior -->
                                <li class="pagination-item" th:classappend="${usuarios.first} ? 'disabled'">
                                    <a th:href="@{/usuarios/indexPaginate(page=${usuarios.number - 1})}">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>

                                <!-- Números de página -->
                                <li class="pagination-item"
                                    th:each="i : ${#numbers.sequence(1, usuarios.totalPages)}"
                                    th:classappend="${i == usuarios.number + 1} ? 'active'">
                                    <a th:href="@{/usuarios/indexPaginate(page=${i - 1})}" th:text="${i}"></a>
                                </li>

                                <!-- Página siguiente -->
                                <li class="pagination-item" th:classappend="${usuarios.last} ? 'disabled'">
                                    <a th:href="@{/usuarios/indexPaginate(page=${usuarios.number + 1})}">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>

                                <!-- Última página -->
                                <li class="pagination-item" th:classappend="${usuarios.last} ? 'disabled'">
                                    <a th:href="@{/usuarios/indexPaginate(page=${usuarios.totalPages - 1})}">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                
        </div>   
    </main>
    
    <script th:src="@{/js/scrip3.js}"></script>
    <script th:src="@{/js/script4.js}"></script>
</body>
</html> 