<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="/fragments/menu :: menu-izquierda"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="/fragments/menu :: menu-derecha"></div>
    </header>

    <div th:insert="/fragments/menu :: menu-barra" class="sidebar" id="sidebar"></div>

    <main id="main">
        
        <h2>Registrar Jefe de Grupo</h2>

    <form th:action="@{/jefes/save}" method="post" th:object="${jefeGrupo}">
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <div th:if="${msg}" class="alert alert-success" th:text="${msg}"></div>
        <!-- ID personalizado del socio -->
        <div>
            <label for="idUsuario">ID del Socio:</label>
            <input type="text" id="idUsuario" name="idUsuario" required>
        </div>

        <!-- Sector -->
        <div id="sectorContainer" style="margin-top: 1em;">
            <label>Sector:</label>
            <span id="sectorNombre">-</span>
            <input type="hidden" id="sectorId" name="sectorId">
        </div>

        <!-- Grupo dependiente del sector -->
        <div id="grupoContainer" style="margin-top: 1em;">
            <label>Grupo:</label>
            <span id="grupoNombre">-</span>
            <input type="hidden" id="grupoId" name="grupoId">
        </div>

        <!-- Fecha inicio -->
        <div>
            <label>Fecha de Inicio:</label>
            <input type="date" th:field="*{fechaInicio}" required />
        </div>

        <button type="submit">Registrar</button>
    </form>
    
        
    </main>
    
    <script th:src="@{/js/scrip3.js}"></script>
    <script th:src="@{/js/script6.js}"></script>
</body>
</html>