<div th:fragment="menu-izquierda" class="left">
    <div class="menu-container">
        <div class="menu" id="menu">
            <div></div> 
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="brand">
        <img th:src="@{/icons2/car-svgrepo-com.svg}" alt="icon-udemy" class="logo">
        <span class="name">SPDM</span>
    </div>
</div>
        
<div th:fragment="menu-derecha" class="right">
    <a href="#" class="icons-header">
        <img th:src="@{/icons2/chat.svg}" alt="chat">
    </a>
    <a href="#" class="icons-header">
        <img th:src="@{/icons2/question.svg}" alt="chat">
    </a>
    <a href="#" class="icons-header">
        <img th:src="@{/icons2/notification.svg}" alt="chat">
    </a>
    <img th:src="@{/img/foto.jpg}" alt="img-user" class="user">
</div>

<nav th:fragment="menu-barra">
    <ul>
        <li>
            <a href="/home.html">
                <img src="/icons2/home.svg" alt="">
                <span>Home</span>
            </a>
        </li>
        <li class=" list__item list__item--click">
            <a class="list__button list__button--click">
                <img src="/icons2/register.svg" alt="">
                <span>Registro</span>
                <img src="/icons/arrow.svg" class="list__arrow">
            </a>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/usuarios/create}" class="nav__link nav__link--inside">Registro Socio</a>
                </li>
                <li class="list__inside">
                    <a th:href="@{/vehiculos/create}" class="nav__link nav__link--inside">Registro Movilidad</a>
                </li>
                <li class="list__inside">
                    <a th:href="@{/mesa/create}" class="nav__link nav__link--inside">Registro de Mesa Directiva</a>
                </li>
                <li class="list__inside">
                    <a th:href="@{/jefes/create}" class="nav__link nav__link--inside">Registro Jefe de Grupo</a>
                </li>
            </ul>
        </li>
        <li>
            <a th:href="@{/usuarios/indexPaginate}">
                <img src="/icons2/list.svg" alt="">
                <span>Socios</span>
            </a>
        </li>
        <li>
            <a th:href="@{/mesa/actual}">
                <img src="/icons2/asistencia.svg" alt="">
                <span>MesaDirectiva</span>
            </a>
        </li>
        <li>
            <a th:href="@{/jefes/lista}">
                <img src="/icons2/list.svg" alt="">
                <span>Jefes de Grupo</span>
            </a>
        </li>

        <li class=" list__item list__item--click">
            <a class="list__button list__button--click">
                <img src="/icons2/moneySvg.svg" alt="">
                <span>Pagos</span>
                <img src="/icons/arrow.svg" class="list__arrow">
            </a>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/aportes/create}" class="nav__link nav__link--inside">Registro de Pagos</a>
                </li>
                <li class="list__inside">
                    <a th:href="@{/aportes/reportes}" class="nav__link nav__link--inside">Reportes de PAgos</a>
                </li>
            </ul>
        </li>

        <li class=" list__item list__item--click">
            <a class="list__button list__button--click">
                <img src="/icons2/moneySendSvg.svg" alt="">
                <span>Retiros</span>
                <img src="/icons/arrow.svg" class="list__arrow">
            </a>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/retiros/create}" class="nav__link nav__link--inside">Registrar retiros</a>
                </li>
                <li class="list__inside">
                    <a th:href="@{/retiros/reportes}" class="nav__link nav__link--inside">Reportes de Retiros</a>
                </li>
            </ul>
        </li>
        <li>
            <a th:href="@{/amonestaciones/create}">
                <img src="/icons2/asistencia.svg" alt="">
                <span>Amonestacion</span>
            </a>
        </li>
        <li>
            <a th:href="@{/amonestaciones/listar}">
                <img src="/icons2/asistencia.svg" alt="">
                <span>Amonestacion Listar</span>
            </a>
        </li>
    </ul>
</nav>