<div th:fragment="menu-izquierda" class="left">
    <div class="menu-container">
        <div class="menu" id="menu">
            <div></div> 
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="brand">
        <img th:src="@{/icons2/car-svgrepo-com.svg}" alt="icon-udemy" class="logo">
        <span class="name">SPDM</span>
    </div>
</div>
        
<div th:fragment="menu-derecha" class="right" sec:authorize="isAuthenticated()">
    <span th:if="${session.usuario != null}" class="text-light" th:text="'Bienvenido ' + ${session.usuario.nombre}"></span>&nbsp;
    <a th:href="@{/logout}" class="icons-header">
        <img th:src="@{/icons2/exit.svg}" alt="chat">
    </a>
    <img th:src="@{'/logos/' + ${session.usuario.foto}}" alt="img-user" class="user"/>


</div>

<nav th:fragment="menu-barra">
    <ul>
        <li sec:authorize="hasAnyAuthority('SUPER_ADMIN', 'Hacienda')">
            <a th:href="@{/index}">
                <img src="/icons2/home.svg" alt="">
                <span>Home</span>
            </a>
        </li>
        <li class=" list__item list__item--click" sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
            <a class="list__button list__button--click">
                <img src="/icons2/register.svg" alt="">
                <span>Registro</span>
                <img src="/icons/arrow.svg" class="list__arrow">
            </a>
            <ul class="list__show">
                <li class="list__inside" sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
                    <a th:href="@{/usuarios/create}" class="nav__link nav__link--inside">Registro Socio</a>
                </li>
                <li class="list__inside" sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
                    <a th:href="@{/vehiculos/create}" class="nav__link nav__link--inside">Registro Movilidad</a>
                </li>
                <li class="list__inside" sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
                    <a th:href="@{/mesa/create}" class="nav__link nav__link--inside">Registro de Mesa Directiva</a>
                </li>
                <li class="list__inside" sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
                    <a th:href="@{/jefes/create}" class="nav__link nav__link--inside">Registro Jefe de Grupo</a>
                </li>
            </ul>
        </li>
        <li sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
            <a th:href="@{/usuarios/indexPaginate}">
                <img src="/icons2/list.svg" alt="">
                <span>Socios</span>
            </a>
        </li>
        <li sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
            <a th:href="@{/mesa/actual}">
                <img src="/icons2/asistencia.svg" alt="">
                <span>MesaDirectiva</span>
            </a>
        </li>
        <li sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
            <a th:href="@{/jefes/lista}">
                <img src="/icons2/list.svg" alt="">
                <span>Jefes de Grupo</span>
            </a>
        </li>

        <li class=" list__item list__item--click" sec:authorize="hasAnyAuthority('Hacienda')">
            <a class="list__button list__button--click">
                <img src="/icons2/moneySvg.svg" alt="">
                <span>Pagos</span>
                <img src="/icons/arrow.svg" class="list__arrow">
            </a>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/aportes/create}" class="nav__link nav__link--inside">Registro de Pagos</a>
                </li>
                <li class="list__inside">
                    <a th:href="@{/aportes/reportes}" class="nav__link nav__link--inside">Reportes de PAgos</a>
                </li>
            </ul>
        </li>

        <li class=" list__item list__item--click" sec:authorize="hasAnyAuthority('Hacienda')">
            <a class="list__button list__button--click">
                <img src="/icons2/moneySendSvg.svg" alt="">
                <span>Retiros</span>
                <img src="/icons/arrow.svg" class="list__arrow">
            </a>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/retiros/create}" class="nav__link nav__link--inside">Registrar retiros</a>
                </li>
                <li class="list__inside">
                    <a th:href="@{/retiros/reportes}" class="nav__link nav__link--inside">Reportes de Retiros</a>
                </li>
            </ul>
        </li>

        <li class=" list__item list__item--click" sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
            <a class="list__button list__button--click">
                <img src="/icons2/danger.svg" alt="">
                <span>Amonestacion</span>
                <img src="/icons/arrow.svg" class="list__arrow">
            </a>
            <ul class="list__show">
                <li class="list__inside">
                    <a th:href="@{/amonestaciones/create}" class="nav__link nav__link--inside">Registrar Amonestacion</a>
                </li>
                <li class="list__inside">
                    <a th:href="@{/amonestaciones/listar}" class="nav__link nav__link--inside">Lista de Amonestados</a>
                </li>
            </ul>
        </li>
        <li sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
            <a th:href="@{/reuniones/nueva}">
                <img src="/icons2/asistencia.svg" alt="">
                <span>Reunion</span>
            </a>
        </li>
    </ul>
</nav>