<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reuniones</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/styleSocio.css}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="~{/fragments/menu :: menu-izquierda}"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="~{/fragments/menu :: menu-derecha}"></div>
    </header>

    <div th:insert="~{/fragments/menu :: menu-barra}" class="sidebar" id="sidebar"></div>

    <main id="main">
      <div class="container">
        
        <h2>Reuniones Registradas</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Asunto</th>
                    <th>Detalle</th>
                    <th>Fecha de Reunión</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reunion : ${reuniones}">
                    <td th:text="${reunion.id}"></td>
                    <td th:text="${reunion.asunto}"></td>
                    <td th:text="${reunion.detalle}"></td>
                    <td th:text="${reunion.fechaReunion}"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/reuniones/nueva}">Crear nueva reunión</a>

      </div>
         
    </main>
    
    <script th:src="@{/js/scrip3.js}"></script> 
    <script th:src="@{/js/script4.js}"></script>
</body>
</html>