@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*Colores*/
:root{
    --background-color: white;
    --text-title-color: #053d4e;
    --text-color: #32363b;
    --icon-color: #32363b;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selected-color: #355cc0;
    --background-selected: #ebf0ff;
    --background-hover: #f7f9fa;

    --bprder-color: #e6e9ed;
}

/*Global Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", serif;
}

/*Body*/
body{
    width: 100%;
    height: 100vh;
}

/*Header*/
header{
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem; 
    border-bottom: 1px solid var(--bprder-color);
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    left: 0;
}

/*Left Section*/
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

/*Menu*/
.menu-container{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu{
    width: 1.5rem;
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu div{
    width: 100%;
    height: 0.15rem;
    background-color: var(--menu-color);
    transition: all 0.2s ease;
}
.menu.menu-toggle div:first-child{
    width: 40%;
    transform: rotate(-35deg) translate(-30%,175%);
}
.menu.menu-toggle div:last-child{
    width: 40%;
    transform: rotate(35deg) translate(-30%,-160%);
}

/*Brand*/
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.brand .logo{
    width: 1.7rem;
}
.brand .name{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-title-color);
}

/*Right Section*/
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.right a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease
}
.right a:hover{
    background-color: var(--background-hover);
}
.right img{
    width: 1.5rem;
    margin: 0.5rem;
}
.right .user{
    width: 2.1rem;
    border-radius: 50%;
}

/*Sidebar*/
.sidebar{
    margin-top: 4rem;
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    border-right: 1px solid var(--bprder-color);
    overflow-y: auto;
    background-color: var(--background-color);
    transition: width 0.5s ease;
}
.sidebar.menu-toggle{
    width: 18.75rem;
}
.sidebar a{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}
.sidebar a:hover{
    background-color: var(--background-hover);
}
.sidebar img{
    width: 1.6rem;
}
.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}
.list__arrow{
    margin-left: auto;
    transition: transform .3s; 
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}
.list__item{
    overflow: hidden;
}


/*Main*/
main{
    margin-top: 4rem;
    margin-left: 4rem;
    padding: 2rem;
    transition: margin-left 0.5s ease;
}
main.menu-toggle{
    margin-left: 18.75rem;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #299B63;
}

.card-name {
    color: #888;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: #299b63;
}


/* charts */

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center
}

/*Responsive*/
@media (max-width:500px){
    .right .icons-header{
        display: none;
    }
    .sidebar{
        width: 0;
    }
    main{
        margin:33px -26px 0px -31px;
    }
    main.menu-toggle{
        margin-left: 0;
    }
    .menu.menu-toggle div:first-child{
        width: 100%;
        transform: rotate(-45deg) translate(-0.2rem,0.3rem);
    }
    .menu.menu-toggle div:nth-child(2){
        opacity: 0;
    }
    .menu.menu-toggle div:last-child{
        width: 100%;
        transform: rotate(45deg) translate(-0.2rem,-0.3rem);
    }

    .cards {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 10px;
    }
    #doughnut {
        padding: 0px;
    }
    .user {
        width: 40px;
        height: 40px;
    }
    .charts{
        display: flex;
        flex-direction: column;
    }
}