body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.card-container {
    width: 80%;
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.socio-card {
    justify-content: center;
    margin-bottom: 20px;
}
.vehicle-card {
    flex: 1;
    margin: 0 10px;
    max-width: 30%;
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5%;
    margin-right: 15px;
}

.card-info {
    text-align: left;
}

.vehicles-container {
    display: flex;
    justify-content: center;
}
.card-info h3 {
    margin-bottom: 10px;
    color: #333;
}

.card-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-info ul li {
    padding: 5px 0;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid #eee;
}

.card-info ul li:last-child {
    border-bottom: none;
}

/* Responsivo: Alinear verticalmente las tarjetas */
@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-image {
        margin-bottom: 10px;
    }

    .vehicles-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .vehicle-card {
        max-width: 100%;
    }
}