<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Aportes</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/styleSocio.css}">
    <link rel="stylesheet" th:href="@{/css/style8.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.css" integrity="sha512-GmZYQ9SKTnOea030Tbiat0Y+jhnYLIpsGAe6QTnToi8hI2nNbVMETHeK4wm4MuYMQdrc38x+sX77+kVD01eNsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="~{/fragments/menu :: menu-izquierda}"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="~{/fragments/menu :: menu-derecha}"></div>
    </header>

    <div th:insert="~{/fragments/menu :: menu-barra}" class="sidebar" id="sidebar"></div>

    <main id="main">
        
        <div class="container">
        <header>Registro Pagos</header>

        <form th:action="@{/aportes/guardar}" method="post">
            <div class="form first">
                <div class="details personal"> 
                    <span class="title">Datos del Socio</span>

                    <div class="fields">

                        <div class="input-field">
                            <label>Sectores</label>
                            <select id="sectorSelect" name="sectorId">
                                <option value="">Seleccione un sector</option>
                                <option th:each="sector : ${sectores}" th:value="${sector.id}" th:text="${sector.nombre}"></option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Grupos</label>
                            <select id="grupoSelect" name="grupoId" required>
                                <option value="">Seleccione un grupo</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label for="">Fecha</label>
                            <input type="date" name="fecha" required>
                        </div>

                        <div class="input-field">
                            <label for="">Monto Total</label>
                            <input type="number" step="0.01" name="montoTotal" required>
                        </div>           
                    </div>
                </div>
            </div>
            <div class="table">
                <div id="tablaSocios" class="table_section">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>¿Pagó?</th>
                            </tr>
                        </thead>
                        <tbody id="tablaSociosBody">

                        </tbody>
                    </table>
                </div>
            </div>
            <button class="nextBtn" type="submit">
                <span class="btnText">Guardar</span>
            </button>
        </form>      
      </div> 

         
    </main>
    
    <script th:src="@{/js/scrip3.js}"></script> 
    <script th:src="@{/js/registro-aportes.js}"></script>

</body>
</html>
