<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda -->
        <div th:insert="/fragments/menu :: menu-izquierda"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="/fragments/menu :: menu-derecha"></div>
    </header>

    <div th:insert="/fragments/menu :: menu-barra" class="sidebar" id="sidebar"></div>

    <main id="main">
      
        <form th:action="@{/mesa/save}" method="post" th:object="${mesa}">
            <div>
                <label>Fecha de inicio:</label>
                <input type="date" th:field="*{fecha_inicio}" required>
            </div>
            <div>
                <label>Fecha de fin:</label>
                <input type="date" th:field="*{fecha_fin}" required>
            </div>
            <div>
                <label>Motivo de cambio (opcional):</label>
                <textarea th:field="*{motivo_cambio}"></textarea>
            </div>

            <!-- Aquí luego conectaremos a DetalleMesa (con cargos y usuarios) -->
            
            <button type="submit">Guardar</button>
        </form>



        
    </main>
    
    <script th:src="@{/js/scrip3.js}"></script>
</body>
</html>