<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Mesa Directiva</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/styleFormMesaDirectiva.css}">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda --> 
        <div th:insert="~{/fragments/menu :: menu-izquierda}"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="~{/fragments/menu :: menu-derecha}"></div>
    </header>

    <div th:insert="~{/fragments/menu :: menu-barra}" class="sidebar" id="sidebar"></div>

    <main id="main">
        <div class="container">
            <header>Registro Mesa Directiva</header>
    
            <form th:action="@{/mesa/save}" method="post" th:object="${mesa}">
                <div class="form first">
                    <div class="details personal"> 
                        <span class="title">Datos del Socio</span>
    
                        <div class="fields fields_color">

                            <div class="input-field">
                                <label for="">Fecha de Inicio</label>
                                <input type="date" th:field="*{fecha_inicio}" required>
                            </div>

                            <div class="input-field">
                                <label for="">Fecha Final</label>
                                <input type="date" th:field="*{fecha_fin}" required>
                            </div>

                            <div class="input-field">
                                <label for="">Detalles</label>
                                <input th:field="*{motivo_cambio}">
                            </div>
                        </div>

                        <div class="btn">
                            <button class="nextBtn">
                                <span class="btnText">Guardar</span>
                            </button>
                        </div>

                    </div>
                    
                </div>
            </form>
        </div>
        
    </main>
    
    <script th:src="@{/js/scrip3.js}"></script>
</body>
</html>