<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style3.css}">
    <link rel="stylesheet" th:href="@{/css/styleVerMesaDir.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.css" integrity="sha512-GmZYQ9SKTnOea030Tbiat0Y+jhnYLIpsGAe6QTnToi8hI2nNbVMETHeK4wm4MuYMQdrc38x+sX77+kVD01eNsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    <header>
        <!-- Inserta el fragmento izquierda --> 
        <div th:insert="/fragments/menu :: menu-izquierda"></div>
        <!-- Inserta el fragmento derecha -->
        <div th:insert="/fragments/menu :: menu-derecha"></div>
    </header>

    <div th:insert="/fragments/menu :: menu-barra" class="sidebar" id="sidebar"></div>
    <main id="main">
      <div class="container">
        <header>Mesa Directiva</header>
        <div th:if="${msg}" style="color:green;">[[${msg}]]</div>
        <div th:if="${error}" style="color:red;">[[${error}]]</div>

        <div th:if="${puedeAgregar}">
            <form th:action="@{/mesa/detalle/agregar}" method="post" th:object="${detalleMesa}">
            <input type="hidden" th:field="*{mesaDirectiva.id}" />
            <div class="arribaTabla">
                <div class="details personal">

                    <span class="title">Ingrese datos para registrar Integrantes</span>
 
                    <div class="fields1">
                        <div class="input-field">
                            <label for="">Fecha Inicio</label>
                            <span th:text="${#dates.format(mesa.fecha_inicio, 'dd-MM-yyyy')}"></span>
                        </div>

                        <div class="input-field">
                            <label for="">Fecha Final</label>
                            <span th:text="${#dates.format(mesa.fecha_fin, 'dd-MM-yyyy')}"></span>
                        </div>
                    </div>

                    <div class="fields1">
                        <div class="input-field">
                            <label for="">Id Socio</label>
                            <input type="text" name="idUsuario" required placeholder="Ej: SOC001">
                        </div>

                        <div class="input-field">
                            <label>Cargo</label>
                            <select th:field="*{cargo.id}" required>
                            <option th:each="cargo : ${cargos}" 
                                    th:value="${cargo.id}" 
                                    th:text="${cargo.nombre}">
                            </option>
                    </select>
                        </div>
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Guardar</span>
                    </button>
                </div>
            </div>
        </form>
        </div>
        
        
        <div class="table">
            <div class="table_section">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Foto</th>
                            <th>Nombre y Apellido</th>
                            <th>Cargo</th>
                            <th>Grupo</th>
                            <th>Acción</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr th:each="detalle : ${integrantes}">
                            <td th:text="${detalle.usuario.idUsuario}"></td> 
                            <td><img th:src="@{/logos/{img} (img=${detalle.usuario.foto})}" alt=""></td>
                            <td th:text="${detalle.usuario.nombre + ' ' + detalle.usuario.apellido}"></td>
                            <td th:text="${detalle.cargo.nombre}"></td>
                            <td th:text="${detalle.usuario.grupo.nombre}"></td>
                            <td>
                                <form th:action="@{/mesa/detalle/desactivar/{id}(id=${detalle.id})}" method="post" style="display:inline;">
                                    <button type="submit" class="btnSocio">Desactivar</button>
                                </form> 
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="/" style="margin-top: 20px; display:inline-block;">Volver al inicio</a>
            </div>

      </div>
        
    </main>
    
    <script th:src="@{/js/scrip3.js}"></script>
</body>
</html>